body {
	height: 100vh;
	background-image: linear-gradient(to right top, #0b7a13, #2bd925, #3eeb5e, rgb(144, 240, 141), #8df58d);
}

.header {
	color: white;
	font-family: 'Yeon Sung';
	font-size: 45px;
	letter-spacing: 10px;
	padding-top: 80px;
}

.header img {
	width: 80px;
	margin-left: -15px;
     border-radius:40px ;
     border:#ffffff 5px solid;
}

.login_div {
	background: rgba(255, 255, 255, 0.8);
	float: none;
	border-radius: 15px;
}

.logo {
	width: 80px;
	margin-top: 30px;
	border-radius: 40px;
}

#login_button {
	width: 80%;
	border-radius: 15px;
}

.room_name {
	cursor: pointer;
	font-size: 20px;
}


#logout {
	font-size: 20px;
	float: right;
}


#output {
	padding: 10px;
	width: 80%;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 15px;
}

.input_div_room_page {
	width: 80%;
}

.input_div label {
	color: white;
	font-size: 20px;
}


.input_div_message_page {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: rgba(255, 255, 255, 0.8);
}

.input_div_message_page label {
	color: black;
}

.input_div_message_page #msg {
	width: 80%;
}

.input_div_message_page button {
	margin-top: 15px;
	width: 50%;
}

.color_white {
	color: white
}

.user_tick {
	width: 20px;
}

.message_h4 {
	padding-left: 5px;
	color: grey;
}
.Salas{
	background-color: #5cd973;
	color: #ffffff;
width: fit-content;
}
#listaGrupos{
	background-color: #8df58d;
	border: #1a6828 4px solid;
	border-radius:40px ;
	max-height: 400px;
	overflow: auto;
}
.Texto img{
	width: 55px;
	height: 55px;
	margin-bottom: 15px;
	margin-right: 10px;
	margin-left: -15px;
     border-radius:40px ;
     border:#ffffff 5px solid;

}
.Texto{
	font-size: large;

}
#Mensaje{
	position: absolute;
	bottom: 100px;
	width: 100%;
}
#redaccion{
	width:50% ;
}
#Mensajes{
overflow-y:scroll;
max-height: 570px;
padding-left: 15px;
word-wrap: break-word;


}
.noScroll{
overflow: hidden;
}
#Redaccion{
	background-color:#a3e920;
	color: rgb(0, 0, 0);
	
}
#Redaccion::placeholder{
	color:#000000
}
#enviar{
	background-color:#a3e920;
	color: rgb(0, 0, 0);
	display: none;
}